<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="index.html">原材料管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>原材料中心</span>
            </li>
        </ul>
        <div class="page-toolbar">
           <!-- <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body"
                 data-placement="bottom" data-original-title="Change dashboard date range">
                <i class=""> 今天是星期一</i>&nbsp;
                &nbsp;
                <i class="">2017-01-02</i>
            </div>-->
            <i class="" id="day"> </i>&nbsp;
            &nbsp;
            <i class="" id="data"></i>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="row">
                <div class="one wide column"></div>
                <div class="fourteen  wide column"  style=" width: 90%">


                    <!-- 从这起飞  -->

                    <div class="sizer content_header">
                        <input type="hidden" id="typeId" th:value="${typeId}">
                        <input type="hidden" id="typeName" th:value="${typeName}">
                        <input type="hidden" id="flag" th:value="${flag}">
                        <form class="ui form">
                            <div class="three fields">
                                <div class="field">
                                    <label style="font-size: small">状态</label>
                                    <select class="ui search selection dropdown" id="foodType">
                                        <option value="">全部</option>
                                        <option value="1">上线</option>
                                        <option value="0">下线</option>

                                    </select>
                                </div>
                                <div class="field">
                                </div>
                                <div class="field" style="text-align: right">
                                    <label style="font-size: small">&nbsp;</label>
                                    <div class="ui primary button" onclick="add()">新增</div>
                                </div>
                            </div>
                        </form>
                        <div class="ui divider"></div>
                        <div>
                            <table class="ui four column table" style="table-layout: fixed">
                                <thead>
                                <tr>
                                    <th style="width: 12%">食物名称</th>
                                    <th style="width: 10%">价格</th>
                                    <th style="width: 10%">所属类别</th>
                                    <th style="width: 12%">创建时间</th>
                                    <th style="width: 12%">查看图片</th>
                                    <th style="width: 15%">备注</th>
                                    <th style="width: 10%">状态</th>
                                    <th style="width: 25%">操作</th>
                                </tr>
                                </thead>

                                <tbody id="content">

                                </tbody>

                            </table>
                            <div id="page" class="ui pagination menu" style="align-items: center">

                            </div>
                        </div>
                    </div>
                    <!-- 这里降落 -->

                </div>
                <div class="one wide column"></div>
            </div>
        </div>
    </div>
    <div th:include="FoodInfor/add :: add"></div>
    <div th:include="FoodInfor/edit :: edit"></div>
    <script th:src="@{/myjs/foodInfor/list.js}"></script>
    <script th:src="@{/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js}" type="text/javascript"></script>
</div>
</html>