<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<!-- BEGIN JQUERY UPLOADER STYLESHEET -->
<link th:href="@{/js/assets/global/plugins/fancybox/source/jquery.fancybox.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/js/assets/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/js/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/js/assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/dropzone.css}" rel="stylesheet" type="text/css">
<!-- END JQUERY UPLOADER STYLESHEET -->
<head th:include="common/common"></head>
<head>
    <!--&lt;!&ndash; BEGIN JQUERY UPLOAD PLUGIN &ndash;&gt;-->
    <script th:src="@{/js/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js}" type="text/javascript"></script>
    <script th:src="@{/js/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js}" type="text/javascript"></script>
    <script th:src="@{/js/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js}" type="text/javascript"></script>
    <!--&lt;!&ndash; END JQUERY UPLOAD PLUGIN &ndash;&gt;-->
</head>

<style>
    .progress{
        background-color: transparent;
    }
</style>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<div th:include="common/topheader :: topheader" class="hiddenTv"></div>
<div class="clearfix"></div>
<div class="page-container">
    <!-- LEFT HEADER -->
    <div th:include="common/leftheader :: leftheader" class="hiddenTv"></div>
    <div class="page-content-wrapper">
        <div class="page-content">
            <div th:include="common/helpcontrol :: helpcontrol" class="hiddenTv"></div>

            <!-- PAGE CONTENT -->
            <div th:include="post/list :: content"></div>
        </div>
        <!-- FOOTER -->
        <div th:include="common/footer" :: footer></div>
    </div>
</div>
</body>
</html>