<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="add">
    <!-- add modal -->
    <div class="ui modal" id="addModal" style="margin-top: -400px;width: 500px;height: 600px">
        <i class="close icon"></i>
        <div class="header">
            添加用户
        </div>
        <form class="ui warning form" style="margin:5% 10% 5% 10%" id="addUserForm">
            <div class="two fields">
                <div class="required field">
                    <label style="font-size: small">用户名</label>
                    <input placeholder="用户名" type="text" name="username" id="add_username">
                </div>
                <div class="required field">
                    <label style="font-size: small">密码</label>
                    <input placeholder="密码" type="text" name="password" id="add_password">
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label style="font-size: small">性别</label>
                    <select class="ui search selection dropdown" name="sex" id="sex_Select">
                        <option value="1">男</option>
                        <option value="0">女</option>
                    </select>
                </div>
                <div class="required field">
                    <label style="font-size: small">年龄</label>
                    <input placeholder="年龄" type="text" name="age" id="add_age">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label style="font-size: small">角色</label>
                    <select class="ui search selection dropdown" name="str3" id="userType_Select">
                        <option value="1">供应商</option>
                        <option value="2">采购商</option>
                        <option value="4">普通管理员</option>
                    </select>
                </div>
                <div class="field">
                    <label style="font-size: small">电话</label>
                    <input placeholder="电话" type="text" name="phone" id="add_phone">
                </div>
            </div>
            <div>
               <span class="btn green fileinput-button">
               <i class="fa fa-plus"></i>
               <span> 上传图像 </span>
               <input id="fileuploadAdd" type="file" name="file"></span>
                <div class="ui indicating progress" id="processAdd">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                </div>
            </div>
            <div class="required field">
                <label>头像路径</label>
                <input placeholder="文件路径" type="text" name="image" id="add_image" readonly>
            </div>
            <div class="field">
                <label style="font-size: small">昵称</label>
                <input placeholder="昵称" type="text" name="str2" id="add_str2">
            </div>
            <div class="field">
                <label style="font-size: small">邮箱</label>
                <input placeholder="邮箱" type="text" name="email" id="email">
            </div>
        </form>
        <div class="actions">
            <div class="ui primary button" id="addSubmit">提交</div>
            <div class="ui button" onclick="$('#addModal').modal('hide')">取消</div>
        </div>
    </div>
</div>



