<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.college.food.dao.mybatis.FoodInformationMapper">
  <resultMap id="BaseResultMap" type="com.college.food.entity.FoodInformation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="food_name" jdbcType="VARCHAR" property="foodName" />
    <result column="food_price" jdbcType="DOUBLE" property="foodPrice" />
    <result column="food_type_id" jdbcType="VARCHAR" property="foodTypeId" />
    <result column="food_type_name" jdbcType="VARCHAR" property="foodTypeName" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="food_url" jdbcType="VARCHAR" property="foodUrl" />
    <result column="food_describe" jdbcType="VARCHAR" property="foodDescribe" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="str1" jdbcType="VARCHAR" property="str1" />
    <result column="str2" jdbcType="VARCHAR" property="str2" />
    <result column="str3" jdbcType="VARCHAR" property="str3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, food_name, food_price, food_type_id, food_type_name, creat_time, food_url, food_describe, 
    status, str1, str2, str3
  </sql>
  <select id="countByExample" parameterType="com.college.food.entity.FoodInformationExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from t_food_information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>